*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}


html{
    scroll-behavior: smooth;
}

#the-fridge-store{
    background-image: url(https://img.freepik.com/premium-photo/orange-powder-explosion-black-background-orange-color-dust-splash_36326-3687.jpg) ;
    background-size: cover;
    background-position: center;
}

/*Navbari(Menuja)*/

.ek-header .navbar{
    border-bottom: 3.5px solid #fff;
}

.ek-header .navbar img{
    margin-left: 50px;
}
.ek-header .navbar-nav .nav-item {
    margin: 0 15px;
}
.ek-header .navbar .navbar-nav .nav-link{
    color: #ffffff;
    transition: 0.2s;
}

.ek-header .navbar .navbar-nav .nav-link:hover{
    color: #ffffff;
    font-weight: 600;
}

.ek-header .navbar .navbar-nav .user-icon {
    margin-right: 50px;
}

.ek-header .navbar .navbar-nav .user-icon a i {
    color: #ffffff;
}


.ek-header .navbar .navbar-nav .user-icon a:hover i {
    color: #ff5e00;
}

.ek-header .navbar .navbar-nav .dropdown-menu a{
    background-color: #000000; 
}

.ek-header .navbar .navbar-nav .dropdown-menu {
    background-color: #000000; 
}

.ek-header .navbar .navbar-nav .dropdown-menu a{
    color: #ffffff;
    transition: 0.2s;
}

.ek-header .navbar .navbar-nav .dropdown-menu a:hover{
    color: #ff5e00;
    font-weight: 600;
    text-decoration: underline;
}

/*Pjesa e Siperme - Ana e Majte*/

.jumbotron{
    border-bottom: 3.5px solid #fff;
    margin-top: 20px;
}

.jumbotron .col-md-6:first-child h1 {
    line-height: 70px;
    font-family: Verdana, sans-serif;
    background: linear-gradient(to right, #ee9356, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

}

.jumbotron .col-md-6:first-child h1 span{
    background: linear-gradient(to right, #ffffff, #ee9356);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jumbotron .col-md-6:first-child p{
    width: 600px;
    text-align: justify;
    line-height: 21px;
    position: relative;
    color: #fff;
    line-height: 35px;
    font-weight: 600;
}

.jumbotron .col-md-6 .ek-button{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #ee9356, #ff5100);
    border-radius: 15px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid #fff;
}


.jumbotron .col-md-6 .ek-button a{
    text-decoration: none;
    color: #ffffffc0;
    margin: 10px;
    transition: 0.3s;
}

.jumbotron .col-md-6 .ek-button i{
    color: #ffffff;
    margin-top: 15px;
    transition: 0.3s;
}

.jumbotron .col-md-6 .ek-button:hover i{
    transform: translateX(6px);
}

/*Pjesa e Siperme - Ana e Djathte*/

.jumbotron .col-md-6 img{
    width: 650px;
    position: relative;
}


/*Pjesa Kryesore - Lart*/

.card{
    transition: 0.3s;
    margin: 10px;
}

.card:hover{
    transform: scale(1.025);
    cursor: pointer;
}


.ek-luxury{
    border-bottom: 3.5px solid #fff;
    padding-bottom: 40px;
    margin-top: 20px;
}

.ek-titulli-luxury h2{
    text-align: center;
    color: #fff;
    margin: 20px 0;
    transition: 0.3s;
}

.ek-titulli-luxury h2 a{
    text-decoration: none;
    color: #fff;
}

.ek-titulli-luxury h2:hover{
    font-weight: 800;
    cursor: pointer;
    transform: scale(1.15);
}



/*Pjesa Kryesore - Poshte*/

.ek-nike{
    height: auto;
    border-bottom: 3.5px solid #fff;
    padding-bottom: 40px;
}

.ek-titulli-nike h2{
    text-align: center;
    color: #fff;
    margin: 20px 0;
    transition: 0.3s;
}

.ek-titulli-nike h2 a{
    text-decoration: none;
    color: #fff;
}

.ek-titulli-nike h2:hover{
    font-weight: 800;
    cursor: pointer;
    transform: scale(1.15);
}


.ek-about-us{
    padding: 20px 0 0 0;
    color: #fff;
    border-top: 3px solid #fff;
}

.ek-about-us p{
    text-align: justify;
line-height: 21px;
position: relative;
color: #fff;
line-height: 35px;
font-weight: 600;
}

.ek-about-us h2{
    text-align: center;
    transition: 0.3s;
}

.ek-about-us h2:hover{
    font-weight: 800;
transform: scale(1.15);
}

/*Footeri*/


.ek-footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
    border-top: 3.5px solid #fff;
}

.ek-fridge p{
    color: #fff;
    font-weight: 600;
}

.social-icons i {
    font-size: 18px;
    margin: 0 10px;
    color: #ffffff;
    transition: 0.3s;
}

.social-icons i:hover{
    color: #ff5e00;
    transform: scale(1.25);
}

/* Buttoni scroll top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ff5e00;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width: 50px;
    height: 50px;
  }
#myBtn img{
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {
    #myBtn{
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
  